.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--inner-padding);
    width: 100%;
    background-color: var(--primary-color);
    color: white;
}

.start {
    display: flex;
    flex-direction: row;
}

.caption {
    display: flex;
    flex-direction: row;
    padding-right: var(--inner-padding);
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: var(--inner-padding);
}

.user-info {
    padding-left: var(--inner-padding);
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 991.98px) {
    .header {
        padding: 15px;
    }
}